@charset "utf-8";
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'colors';
@import 'animations';
@import 'layout';
@import 'buttons';
@import 'forms';
@import 'board';
@import 'chat';

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.players {
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0 0 2em 0;
  }
  li {
    margin-bottom: 30px;
    position: relative;
    border: 1px solid $paleBorder;
    background: white;
    border-radius: 4px;
    .player-avatar{
      width: 50px;
      height: 50px;
      border-radius: 4px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .player-info{
      height: 50px;
      line-height: 20px;
      padding: 15px 70px;
    }
    .player-name{
      float: left;
      background: white;
      padding-right: 10px;

    }
    .player-online-status{
      font-size: 12px;
      clear: both;
      color: #aaa;
    }
    .player-game-info{
      background: transparent;
      padding: 15px 10px;
      font-size: 14px;
      color: rgba(black, .8);
    }
    .player-badge{
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px;
      text-transform: uppercase;
    }
    .player-resigned{
      color: red;
      background: rgba(red, .1);
    }
    .player-passed{
      color: blue;
      background: rgba(blue, .1);
    }
    &:last-child{
      margin-bottom: 0px;
    }
    &.waiting{
      color: grey;
			height: 100px;
      padding: 10px;
    }
    .player-stone-container{
      border: 1px solid $paleBorder;
      position: absolute;
      bottom: -20px;
      right: -10px;
      width: 70px;
      height: 70px;
      background: #f4f4f4;
      border-radius: 100%;
      z-index: 1;
    }
    .stone {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -20px;
      margin-top: -20px;
      z-index: 2;
    }
    .btn-pass {
      float: right;
			height: 100%;
    }
  }
  &.turn{
    &--black{
      .stone.stone--black {
        @include animation(pulse 1.0s infinite);
      }
    }
    &--white{
      .stone.stone--white {
        @include animation(pulse 1.0s infinite);
      }
    }
  }
}

.join-btn{
  margin: 10px;
}

.table {
  position: relative;  
  margin: 0 auto;
  width: 100%;
  background: image-url('board.png');
  box-shadow: 0 1px 10px rgba(black, .2), 0 1px 4px rgba(black, .1),;
  background-size: 50% 50%;
  z-index: 1;
  @include transition(max-height .2s ease, max-width .2s ease);
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

#alerts {
    height: 40px;
    line-height: 40px;
}

#pass-btn {
}

#board {
    position: relative;
}

// Standalone stones
div.stone {
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(#000, .4);
  width: 40px;
  height: 40px;
  &--white {
    background: white;
    @include linear-gradient(to bottom, #fff 0%, #ddd 100%);
  }
  &--black {
    background: black;
    @include linear-gradient(to bottom, #555 0%, #000 100%);
  }
}
