@charset "utf-8";
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'layout';
@import 'board';

body {
  text-align: center;
}

.players{
  margin: 0 0 2em 0;
  p.waiting{
    opacity: 0.5;
  }
}
.table {
  position: relative;  
  margin: 0 auto;
  width: 90%;
  background: image-url('board.png');
  background-size: 50% 50%;
  z-index: 1;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

#alerts {
    height: 40px;
    line-height: 40px;
}

#pass-btn {
}

#board {
    position: relative;
}
