.btn {
  padding: 8px 10px;
  border: 0px;
  line-height: 1;
  padding: 10px 15px;
  background: $buttonColor;
  color: $primaryTextColor;
  border-radius: 2px;
  min-width: 80px;
  &:hover {
    background: darken($buttonColor, 0%);
  }

  &[disabled], &.disabled{
    background: #ccc;
    color: #aaa;
    cursor: default;
  }
}

.text-link {
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  display: inline;
  text-decoration: underline;
}

span.anchor{
  text-decoration: underline;
  margin: 0 5px;

}
