@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'colors';

#header {
  padding: 1em 2em;
  border-bottom: 1px solid darken($pale, 5%);
  background: $pale;
  margin: 0 0 2em 0;
  @include clearfix;
}

#body{
  padding: 0 1em;
  @include clearfix;
}

.navigation {
  @include span-columns(4);
}
.user-session {
  @include span-columns(8);
  text-align: right;
  input {
    margin-left: 15px;
  }
}
.game-controls {
  @include span-columns(4);
}
.game-board {
  @include span-columns(8);
  @include omega;
}

