---
title: Go Game
---

#main

-# .table
-#   .board
-#     %table.f
-#       - (1..19).each do |i|
-#         %tr.row
-#           - (1..19).each do |j|
-#             %td.point
-#               -if j == rand(19)
-#                 .stone.stone--white
-#               -elsif j == rand(19)
-#                 .stone.stone--black

